*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Orelega+One&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');

body{
    background-color: #e5e5e5;
    width: 100%;
    height: 100vh;
}

section{
    margin: 5px;
}

.menuFlex{
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

li{
    margin: 15px 15px 15px 15px;
    font-size: 20px;
    padding: 5px 2px 5px 2px;
    color: blanchedalmond;
    background-color: black;
    font-family: 'Orelega', sans-serif;   
}
nav :hover{
    background-color: coral;
}

header{
    width: 100%;
    height: 50px;
    margin: 5px, 5px;
    padding: 50px;
    border: #e5e5e5;
    border-style: dotted solid;
    border-width: 5px;
    background-image: url(https://www.designyup.com/wp-content/uploads/2020/12/romance-book-covers-featured-image.jpg);
    font-style: italic;
    color:black;
    font-family: 'Raleway!', sans-serif;
    font-size: 60px;
    text-align:left;
    margin-bottom: 15px;
}

aside{
    color:black;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

#productos{
    color: black;
    font-style: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    border: chocolate;
    border-style:double;
    padding: 5px;
}

#servicios{
    color:white;
    background-color: black;
    font-style: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: 15px;
    text-align: start;
    border:#e5e5e5;
    border-style: dotted solid;
}

#contactos{
    font-size: 25px;
    border: black;
    border-style: groove;
    margin-top: 5px;
}

/* Secciones*/

.hTS
{
  background-image: url(https://i.insider.com/6092f10a34af8d001859b714?width=700);
  padding: 5px 2px 5px 2px;
  border: black;
  border-style: outset;
}

.h1TS{
  text-align: center;
  color: white;
  font-family: 'Roboto' , sans-serif;
  font-size: 30px;
}

.pTS{
  padding: 20px 20px 20px 20px;
  margin: 5px 2px 5px 2px;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-size: 20px; 
}
.p2TS{
  padding: 30px 30px 30px 30px;
  margin: 10px 5px 10px 5px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.VolverTS{
  color: white;
  font-size: 18px;
}


#headerCF{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/scary-kid-books-1626185704.png?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*);
    border: black;
    border-style: outset;
    margin: 15px 20px 15px 20px;
}
.hCienciaFiccion{
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    color:orangered;
     margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
}
.contenidoCF{
    font-family:'Raleway' , sans-serif;
}

.headerMangas{
    background-image: url(https://previews.123rf.com/images/gritsalak/gritsalak1803/gritsalak180300002/97064109-fondo-de-l%C3%ADneas-de-velocidad-de-c%C3%B3mics-y-manga-acci%C3%B3n-de-superh%C3%A9roe-fondo-de-explosi%C3%B3n-ilustraci%C3%B3n-d.jpg);
    border: black;
    border-style: outset;
    margin: 15px 20px 15px 20px
   }
   
.h1Mangas{
     font-family: 'Orolega', sans-serif;
     color: cornsilk;
     text-align: center;
   }
 
 .pMangas{
   padding: 15px 15px 15px 15px;
   margin: 10px 10px 10px 10x;
   text-align: center;
 }

 .headerNosotros{
    background-image: url(https://wallpapercave.com/wp/wp4728905.png);
    padding: 30px 15px 30px 15px;
    border: violet;
    border-style: outset;
  }
  
  .hNosotros{
    text-align: center;
    font-family: 'Orolega' sans-serif;
    font-size: 30px;
  }
  
  .pNosotros{
    background-image: url(https://cutewallpaper.org/22/pink-kawaii-aesthetic-wallpapers/1546072.jpg);
    padding: 40px 40px 40px 40px;
    margin: 15px 15px 15px 15px ;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }

  #Hromance{
    background-image: url(https://thumbs.dreamstime.com/b/fashion-aesthetic-wallpaper-phone-bloom-white-flowers-background-spring-summer-romantic-mood-idea-vibes-188328921.jpg);
    width: 100%;
    height: 50px;
    margin: 5px 2px 5px 2px;
    padding: 50px;
    }
    
.H1romance{
      font-family: 'Raleway', sans-serif;
      font-style: italic;
      color:black;
      font-size: 45px;
      text-align: center;
    
    }
    
.Promance {
      background-color: black;
      color: whitesmoke;
      text-align: center;
      font-style: italic;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      padding: 15px 25px 15px 25px;
      margin-top: 10px;
    
    }

#SectionRomance{
        color: crimson;
        padding: 30px;
        font-size: 45px;
        font-style: italic;
        font-family: cursive;
        margin-top:15px;
        margin-left: 10px;
        margin-right: 5px;
}
    
 .Romance-Flex{
        display: flex;
        flex-direction: column, nowrap;
        list-style:none;

 }



#gridAreas{
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "video video video"
    "noticias noticias noticias"
    "servicios servicios servicios"
    "lanzamientos lanzamientos lanzamientos"
    "imagenes imagenes imagenes"
    "contactos contactos contactos"
    "footer footer footer"
    ;
    grid-template-areas: 20% auto 15%;
    grid-template-rows: 100px 2fr 2fr 100px;
   }
   

/* AREAS*/
header {
    grid-area: header;
   }
   footer {
    grid-area: footer;
   }
   section#productos {
    grid-area: lanzamientos;
   }
   section#servicios {
    grid-area: servicios;
   }
   nav {
    grid-area: nav;
   }
   aside {
    grid-area: noticias;
   }
   nav#contactos{
       grid-area: contactos;
   }
   iframe{
       grid-area:video
   }
   section#imagenes
   {
       grid-area: imagenes;
   }

   /* SmartPhone */

   @media (max-width:480px){
       body{
           background-color: black;
       }
       
       .menuFlex{
           display: flex;
           flex-direction: column;
           align-items: center;
       }

       .header{
           font-size: 30px;
           border: #e5e5e5;
           background-image: url(https://www.designyup.com/wp-content/uploads/2020/12/romance-book-covers-featured-image.jpg);
           color: beige;
        }

        li{
            margin: 10px 10px 10px 10px;
            font-size: 15px;
            color: white;
            
        }

        a{
            color: white;
        }
    
        nav :hover{
            background-color: thistle;
        }
   }